<script src="js/route.min.js" async></script>
<section class="register-header">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<h1>Registration</h1>
			</div>
			<div class="col-12 col-md-6">
				<div class="register-header-steps">
					<h3>Step</h3>
					<div class="register-header-steps-container">
						<div class="register-header-steps-item">
							<span>1</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
						<div class="register-header-steps-item">
							<span>2</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
						<div class="register-header-steps-item">
							<span>3</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
						<div class="register-header-steps-item active">
							<span>4</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
						<div class="register-header-steps-item">
							<span>5</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
						<div class="register-header-steps-item">
							<span>6</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="candidate">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="candidate-header">Find the #best job</h2>
				<p class="candidate-intro">
				As an optional step, send your CV to all the recruiters from <br/>our partnering organizations and find the best job!</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="candidate-item candidate-item-cv">
					<svg class="candidate-item-icon cv-decor">
						<use xlink:href="#cv-decor"></use>
					</svg>
					<p>Send your CV directly to the Data Science Jobs Fair recruiters. All you have to do is attaching a CV file and / or complete the CV online form</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="candidate-item candidate-item-gift">
					<svg class="candidate-item-icon gift-decor">
						<use xlink:href="#gift-decor"></use>
					</svg>
					<p>Everyone who sends a CV and / or completes an online CV form has a chance to win an Xbox and a Tesla ride. Filling both types of CV doubles your chances!</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="candidate-item candidate-item-suitcase">
					<svg class="candidate-item-icon suitcase-decor">
						<use xlink:href="#suitcase-decor"></use>
					</svg>
					<p>So far, thanks to us, hundreds of people have found great jobs!</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8">
				<div class="candidate-box">
					<div class="candidate-box-top-line"></div>
					<div class="candidate-box-content">
						<div class="candidate-box-content-col">
							<p>Fill out both types of CV (pass the file, fill in the online form) to have the best recruitment opportunities. Both of these actions can also be performed later after logging in to the user's account. This registration step is not mandatory and you can skip it.</p>
							<div class="candidate-box-buttons">
								<a href="#" class="btn btn-payment" data-ng-click='$event.preventDefault();redirectToCvUpload()'>
									<span>
										<svg class="cv">
											<use xlink:href="#cv-2"></use>
										</svg> Pass the file </span>
									<svg class="arrow">
										<use xlink:href="#arrow"></use>
									</svg>
								</a>
								<span>and/or</span>
								<a href="#" class="btn btn-payment" data-ng-click='$event.preventDefault();redirectToCvForm()'>
									<span>
										<svg class="checkbox-decor-white">
											<use xlink:href="#checkbox-decor-white"></use>
										</svg> Fill in the online CV form</span>
									<svg class="arrow">
										<use xlink:href="#arrow"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-8">
				<p class="skip"><a href="#" data-ng-click='$event.preventDefault();redirectToInform()'>Skip</a></p>
			</div>
		</div>
	</div>
</section>
