#loading {
  position: fixed;
  height: 100vh;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 10000;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: top 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 1s cubic-bezier(0.86, 0, 0.07, 1);
  &.out {
    top: -150%;
  }
}

path[class*="letter-"] {
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

g[class*="hack-"],
.sygnet {
  path {
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
}

.letter-w {
  animation-name: anim-w;
}
.letter-h {
  animation-name: anim-h;
}
.letter-a {
  animation-name: anim-a;
}
.letter-t {
  animation-name: anim-t;
}
.letter-t-2 {
  animation-name: anim-t-2;
}
.letter-h-2 {
  animation-name: anim-h-2;
}
.letter-e {
  animation-name: anim-e;
}
.hack-1 {
  path {
    animation-name: anim-hack-1;
  }
}
.hack-2 {
  path {
    animation-name: anim-hack-2;
  }
}
.hack-3 {
  path {
    animation-name: anim-hack-3;
  }
}
.sygnet {
  path {
    animation-name: anim-sygnet;
  }
}

@keyframes anim-w {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
@keyframes anim-h {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
@keyframes anim-a {
  0% {
    fill: black;
  }
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
  100% {
    fill: #000000;
  }
}
@keyframes anim-t {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
@keyframes anim-t-2 {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
@keyframes anim-h-2 {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
@keyframes anim-e {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
@keyframes anim-t-2 {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
@keyframes anim-hack-1 {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
@keyframes anim-hack-2 {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
@keyframes anim-hack-3 {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
@keyframes anim-sygnet {
  9% {
    fill: black;
  }
  10% {
    fill: red;
  }
  12% {
    fill: #000000;
  }
}
