#svg-loading {
  display: none;
}

#loading {
  position: fixed;
  height: 100vh;
  top: 0%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: #e10b31;
  transition: top 1s cubic-bezier(0.86, 0, 0.07, 1);
  &.hide {
    top: -150%;
  }
}

.loading-wrapper {
  position: relative;
  max-width: 320px;
  max-height: 320px;
}

.loading-wrapper-text {
  color: #fff;
  font-size: 1rem;
  position: absolute;
  bottom: 70px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  animation: show 0.5s 6.5s forwards;
  text-align: center;
  span {
    animation: load 1.4s infinite both;
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@media (max-width: 520px) {
  .loading-wrapper-text {
    font-size: 1rem;
  }
}

svg[class*="pre-"],
.bomb {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 320px;
  transform: translate(-50%, -50%);
}

.bomb {
  opacity: 0;
  animation: show 0s 6s forwards;
}

@for $i from 1 through 13 {
  .pre-#{$i} {
    animation: anim-#{$i} 6s forwards;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes anim-1 {
  1% {
    opacity: 1;
  }
  9% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anim-2 {
  0%,
  100% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
@keyframes anim-3 {
  0%,
  100% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  27% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
}
@keyframes anim-4 {
  0%,
  100% {
    opacity: 0;
  }
  27% {
    opacity: 0;
  }
  28% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
}
@keyframes anim-5 {
  0%,
  100% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  43% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
}
@keyframes anim-6 {
  0%,
  100% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  44% {
    opacity: 1;
  }
  51% {
    opacity: 1;
  }
  52% {
    opacity: 0;
  }
}
@keyframes anim-7 {
  0%,
  100% {
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  59% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
@keyframes anim-8 {
  0%,
  100% {
    opacity: 0;
  }
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
}
@keyframes anim-9 {
  0%,
  100% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  68% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
}
@keyframes anim-10 {
  0%,
  100% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  83% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
}
@keyframes anim-11 {
  0%,
  100% {
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  84% {
    opacity: 1;
  }
  91% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
}
@keyframes anim-12 {
  0%,
  100% {
    opacity: 0;
  }
  91% {
    opacity: 0;
  }
  92% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}
