#loading {
  position: fixed;
  height: 100vh;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 10000;
  background: #e10b31;
  transition: top 1s cubic-bezier(0.86, 0, 0.07, 1);
  &.out {
    top: -150%;
  }
}

#hack {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -160px;
  background-image: url("../images/play-loading.png");
  animation: play 5.9s steps(15) 1;
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -4800px;
  }
}
