<section class="register-header">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<h1>Registration</h1>
			</div>
			<div class="col-12 col-md-6">
				<div class="register-header-steps">
					<h3>Step</h3>
					<div class="register-header-steps-container">
						<div class="register-header-steps-item">
							<span>1</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
						<div class="register-header-steps-item">
							<span>2</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
						<div class="register-header-steps-item">
							<span>3</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
						<div class="register-header-steps-item">
							<span>4</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
						<div class="register-header-steps-item">
							<span>5</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
						<div class="register-header-steps-item">
							<span>6</span>
							<svg class="cube">
								<use xlink:href="#cube"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="options-choice">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="options-choice-header">
					<h5>Loading...</h5>
					<div>
						<img src="images/tenor.gif" style="max-height: 80px;margin:40px auto 0" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
