<!-- intro -->
<section id="start" class="section section--intro">
	<!-- container -->
	<div class="container container--wrapper">
		<div class="top">
			<div class="top__reg">@rejestracja</div>
			<div class="top__steps list" data-step="4">
				<div class="top__steps__element"></div>
			</div>
		</div>
	</div>
	<!-- /container -->
</section>
<!-- /intro -->

<!-- otargach -->
<section id="otargach" class="section section--agenda">
	<!-- container -->
	<div class="container container--wrapper">
		<div class="section__heading">Przekaż swoje CV na ręce Partnerów <br/>wydarzenia i znajdź <span>lepszą pracę</span></div>
			<div class="joinDatabase">
				<img src="src/img/cv1.svg" alt="">
				<img src="src/img/cv2.svg" alt="">
				<img src="src/img/cv3.svg" alt="">
			<div class="joinDatabase__text">
				<div class="agenda__header">
					<p class="agenda__title">What the h<span>@</span>ck</p>
					<span class="agenda__close"><img src="src/img/agenda-close.png" alt="" /></span>
				</div>
				<div class="joinDatabase__content">
					<p>Wypełnij oba typy CV (zostaw plik, wypełnij formularz on-line), aby mieć największe szanse rekrutacyjne. Obie te czynności możesz ewentualnie wykonać później - logując się do konta użytkownika. Ten krok rejestracji nie jest obowiązkowy i możesz go pominąć. </p>
				</div>
				<div class="joinDatabase__buttons">
					<a href="#" class="bttn bttn--bigRed bttn--bigRedCV" data-ng-click='$event.preventDefault();redirectToCvUpload()'>
						Dodaj CV (plik)
					</a>
					<span class="joinDatabase__span">i / lub</span>
					<a href="#" class="bttn bttn--bigRed bttn--bigRedForm" data-ng-click='$event.preventDefault();redirectToCvForm()'>
						Wypełnij Formularz CV
					</a>
				</div>
			</div>
		</div>
		<div class="section__submit">
			<a href="#"  data-ng-click='$event.preventDefault();redirectToInform()' style="margin-left: -111px;">Pomiń</a>
		</div>
	</div>
</section>
<!-- /otargach -->