<!-- intro -->
<section id="start" class="section section--intro">
	<!-- container -->
	<div class="container container--wrapper">
		<div class="top">
			<div class="top__reg">@rejestracja</div>
			<div class="top__steps" data-step="1">
				<div class="top__steps__element" ></div>
			</div>
		</div>
	</div>
	<!-- /container -->
</section>
<!-- /intro -->

<!-- otargach -->
<section id="otargach" class="section section--agenda">
	<!-- container -->
	<div class="container container--wrapper">
		<div class="section__subHeading">Ładowanie...</div>
		<div>
			<img src="img/tenor.gif" style="max-height: 80px;margin:40px auto 0" />
		</div>
	</div>
</section>
<!-- /otargach -->
