<!-- intro -->
<section id="start" class="section section--intro">
	<!-- container -->
	<div class="container container--wrapper">
		<div class="top">
			<div class="top__reg">@rejestracja</div>
			<div class="top__steps list" data-step="6">
				<div class="top__steps__element"></div>
			</div>
		</div>
	</div>
	<!-- /container -->
</section>
<!-- /intro -->

<!-- otargach -->
<section id="otargach" class="section section--agenda">
	<!-- container -->
	<div class="container container--wrapper">
		<div class="finished">
			<div class="agenda__header">
				<p class="agenda__title">What the h@ck</p>
				<span class="agenda__close"><img src="src/img/agenda-close.png" alt="" /></span>
			</div>
			<div class="finished__content">
				<h2 class="finished__heading">{{userInfo.firstName}}, rejestracja<br/> zakończona pomyślnie</h2>
				<!-- brak płatności - pakiet bezpłatny -->
				<div  class="finished__text" ng-if="userInfo.hasPayment == false && paymentUrl == null">
					<p>Sprawdź i kliknij w link aktywacyjny.</p>
					<p>Jeśli nie potwierdzisz swojej rejestracji w ciągu 72h - rezerwacja / zgloszenie przepadnie</p>
				</div>
				<!-- jest płatność 0 zł -->
				<div class="finished__text" ng-if='userInfo.hasPayment == false && paymentUrl == "0"'>
					<p>Dziękujemy za rejestrację. Wkrótce na podany adres e-mail dostaniesz zaproszenie.</p>
				</div>
				<!-- jest płatność - pakiet firmowy -->
				<div  class="finished__text" ng-if="userInfo.isOrgPackage == true">
					<p>Dziękujemy za rejestrację. Wkrótce prześlemy kody rabatowe do rejestracji dla całego Zespołu (konieczna jest rejestracja każdego osobno). W razie pytań zapraszamy do kontaktu z Olą Prychitko: aleksandra.prychitko@fundacjaap.org.pl, tel. 660 409 142</p>
				</div>
				<!-- jest płatność - kod rabatowy wymaga zatwierdzenia -->
				<div  class="finished__text" ng-if="userInfo.hasPayment == true && userInfo.isWaitingForCouponApproval == true">
					<p>Oczekiwanie na akceptację kodu rabatowego przez organizatorów.</p>
					<p>Podczas rejestracji podano kod rabatowy, którego użycie wymaga akceptacji po stronie organizatorów. Po akceptacji wygenerowany zostanie link do płatności.</p>
				</div>
				<!-- jest płatność - czekanie na generację -->
				<div  class="finished__text" ng-if="loading == true && userInfo.hasPayment == true && userInfo.isWaitingForCouponApproval == false">
					<p>Trwa generowanie płatności, prosimy o chwilę cierpliwości...</p>
				</div>
				<!-- jest płatność - pobrano link do płatności -->
				<div  class="finished__text" ng-if='loading == false && userInfo.hasPayment == true && userInfo.isWaitingForCouponApproval == false && paymentUrl != null && paymentUrl != "0"'>
					<p>Prosimy o dokonanie płatności klikając w poniższy przycisk, link do płatności prześlemy również na Twój adres email.</p>
					<br/>
					<p>UWAGA: W przypadku braku dokonania płatności w ciągu 72h - Twoja rejestracja oraz wszystkie dane z nią związane zostaną usunięte.</p>
					<a href="#" class="bttn bttn--bigRed bttn--bigRedPay" data-ng-click='$event.preventDefault();redirectToPayment()'>Dokonaj płatności</a>
				</div>
				<!-- jest płatność - brak linku do płatności -->
				<div  class="finished__text" ng-if='loading == false && userInfo.hasPayment == true && userInfo.isWaitingForCouponApproval == false && paymentUrl == null'>
					<p>Oczekiwanie na wygenerowanie płatności. Link do płatności prześlemy na Twój ades email.</p>
					<p>UWAGA: w przypadku braku dokonania płatności w ciągu 72h - Twoja rejestracja oraz wszystkie dane z nią związane zostaną usunięte.</p>
				</div>
				<!-- jest płatność - tyle że 0 zł, czyli brak płatności i faktury -->
				<div class="finished__text" ng-if='loading == false && userInfo.hasPayment == true && userInfo.isWaitingForCouponApproval == false && paymentUrl == "0"'>
					<p>Dziękujemy za rejestrację. Wkrótce na podany adres e-mail dostaniesz zaproszenie.</p>
				</div>
				<div ng-if="loading">
					<img src="img/tenor.gif" style="max-height: 80px;margin:40px auto 0" />
				</div>
			</div>
		</div>
		<p class="section__info">O zmianach w prelekcjach, konkursach nagrodach dodatkowych informujemy na bieżąco na naszej stronie na facebooku. Aby nic Cię nie omineło polub nas i śledź wydarzenie na meetupie.</p>
	</div>
	<div class="section__social">
		<div class="section__social__element">
			<a href="https://www.facebook.com/events/1160304477453930/" target="_blank" class="section__social__fb"'>Polub nas na fb</a>
		</div>
		<div class="section__social__element">
			<a href="https://www.meetup.com/pl-PL/What-The-Hack-IT-Security/events/255553613/" target="_blank" class="section__social__meetup">Dołącz na meetup</a>
		</div>
	</div>
</section>
<!-- /otargach -->
